<a href="https://colab.research.google.com/github/johnclinton95/Docker/blob/main/modelisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import scipy.stats as stats

In [ ]:
from pydataset import data

In [ ]:
titanic = data("titanic")
iris = data("iris")
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [ ]:
stat= titanic.describe()
print(stat)

            class     age   sex survived
count        1316    1316  1316     1316
unique          3       2     2        2
top     3rd class  adults   man       no
freq          706    1207   869      817